Repository kubestellar/kubeflex, pull requests merged in 2025-08, with the labels that each got.

#513 ✨ add k3s token as value within k3s-config secret
  pkg/reconcilers/k3s/apiserver.go
  pkg/reconcilers/k3s/configdata.go
  pkg/reconcilers/k3s/embed/save-k3s-token.sh
  pkg/reconcilers/k3s/job.go
Labels: dco-signoff: yes, size/M, needs-ok-to-test

#515 🐛 ingress name and clusterrolebinding is attached to controlplane name
  pkg/reconcilers/k3s/apiserver.go
  pkg/reconcilers/k3s/ingress.go
  pkg/reconcilers/k3s/job.go
  pkg/reconcilers/k3s/rbac.go
  pkg/reconcilers/k3s/service.go
Labels: dco-signoff: yes, size/S, needs-ok-to-test

#517 🐛 update status Ready=True when k3s server is ready
  pkg/util/status_check.go
  pkg/util/util.go
Labels: dco-signoff: yes, size/S, needs-ok-to-test

#524 🌱 add rxinui as maintainer
  OWNERS
Labels: dco-signoff: yes, lgtm, size/XS, approved

#493 ✨feature : implement VerifyControlPlaneOnHostingCluster
  pkg/kubeconfig/extensions.go
  pkg/kubeconfig/extensions_test.go
Labels: dco-signoff: yes, lgtm, size/M, approved, needs-ok-to-test

#499 ✨ feature : check extensioninitialcontextname set
  pkg/kubeconfig/extensions.go
  pkg/kubeconfig/extensions_test.go
Labels: dco-signoff: yes, lgtm, size/S, approved, needs-ok-to-test

#501 🌱 test : extensioninitialcontextnameset true
  pkg/kubeconfig/extensions_test.go
Labels: dco-signoff: yes, lgtm, size/M, approved, ok-to-test

#527 🌱 Bump actions/checkout from v4 to v5
  .github/workflows/ci.yaml
  .github/workflows/dco.yaml
  .github/workflows/goreleaser.yml
  .github/workflows/spellcheck_action.yml
  .github/workflows/test-e2e.yaml
Labels: dco-signoff: yes, lgtm, size/S, approved
