Repository kubestellar/kubeflex, pull requests merged in 2025-07, with the labels that each got.

#456 ✨ feature : implement CheckGlobalKubeflexExtension
  pkg/kubeconfig/extensions.go
Labels: dco-signoff: yes, lgtm, size/S, approved, needs-ok-to-test

#469 ✨ task: add ingress reconciler logic
  pkg/reconcilers/k3s/ingress.go
  pkg/reconcilers/k3s/reconciler.go
Labels: dco-signoff: yes, size/M, needs-ok-to-test

#470 ✨ task: improve and ref apiserver k3s code
  pkg/reconcilers/k3s/apiserver.go
Labels: dco-signoff: yes, size/S, needs-ok-to-test

#463 🌱 test & update : CheckHostingClusterContextNameNone
  pkg/kubeconfig/extensions.go
  pkg/kubeconfig/extensions_test.go
Labels: dco-signoff: yes, lgtm, size/M, approved, ok-to-test

#481 ✨new(472): add configmap new function
  pkg/reconcilers/k3s/configdata.go
  pkg/reconcilers/k3s/embed/save-k3s-kubeconfig.sh
  testapi
Labels: dco-signoff: yes, size/M, needs-ok-to-test

#452 ✨ Add guard for kflex ctx delete: confirmation for non-KubeFlex contexts
  cmd/kflex/ctx/ctx_test.go
  cmd/kflex/ctx/delete.go
  cmd/kflex/ctx/delete_test.go
  cmd/kflex/ctx/rename.go
  pkg/kubeconfig/kubeconfig.go
  test/e2e/manage-ctx.sh
Labels: dco-signoff: yes, lgtm, approved, size/L, ok-to-test

#476 ✨ feature : implement CheckContextScopeKubeflexExtensionSet
  pkg/kubeconfig/extensions.go
Labels: dco-signoff: yes, lgtm, size/M, approved, ok-to-test

#451 ✨feature: enhance kflex ctx list with KubeFlex context information
  cmd/kflex/ctx/list.go
  pkg/kubeconfig/extensions_test.go
  pkg/util/util.go
  test/e2e/manage-ctx.sh
Labels: dco-signoff: yes, lgtm, approved, size/L, ok-to-test
